<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title>Display a map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <style>
    #map {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
  </style>
</head>
<body>
  <div id="map">
    <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
  </div>
  <p><a href="https://www.maptiler.com/copyright/" target="_blank" rel="noopener">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank" rel="noopener">&copy; OpenStreetMap contributors</a></p>
  <script>
    const key = 'n3yNlWvzUxDIPUcuOEn5';
    const map = L.map('map').setView([23.2487, 77.4066], 5); //starting position
    L.tileLayer(`https://api.maptiler.com/maps/streets-v2/{z}/{x}/{y}.png?key=${key}`,{ //style URL
      tileSize: 512,
      zoomOffset: -1,
      minZoom: 1,
      attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
      crossOrigin: true
    }).addTo(map);
    
    // Array of locations
    const locations = [
      {
        name: 'Taj Mahal',
        latitude: 27.1751,
        longitude: 78.0421,
        description: 'A white marble mausoleum commissioned in 1632 by the Mughal emperor Shah Jahan (reigned 1628–1658) to house the tomb of his favourite wife Mumtaz Mahal; it is widely recognized as "the jewel of Muslim art in India and one of the universally admired masterpieces of the world\'s heritage."'
      },
      {
        name: 'Fatehpur Sikri',
        latitude: 27.0489,
        longitude: 77.9948,
        description: 'A city and a UNESCO World Heritage Site in Uttar Pradesh, India. It was built by Mughal Emperor Akbar in 1571 and served as the capital of the Mughal Empire for 15 years.'
      },
      {
        name: 'Agra Fort',
        latitude: 27.18,
        longitude: 78.02,
        description: 'A historical fort in the city of Agra in Uttar Pradesh, India. It was built by Mughal emperor Akbar in 1565 and served as the main residence of the Mughal Emperors for 150 years.'
      }
    ];

    // Add markers for each location
    locations.forEach(location => {
      L.marker([location.latitude, location.longitude]).addTo(map)
        .bindPopup(`<b>${location.name}</b><br>${location.description}`);
    });
  </script>
</body>
</html>
