<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/2.5.0/remixicon.css">
    <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
    <div class="frame">
        <a class="arrow" style="text-decoration: none; color: black ;margin-bottom: 8;" href="/choice">
            <i class="ri-arrow-left-line" style="font-size: 42px;"></i>
        </a>
        <div class="center">
            <form action="/upload" method="POST" enctype="multipart/form-data">
              <div class="bar"></div>
              <div class="title">Drop file to upload</div>
              <div class="dropzone">
                  <div class="content">
                      <img src="https://100dayscss.com/codepen/upload.svg" class="upload">
                      <span class="filename"></span>
                      <input type="file" class="input" name="file" accept=".txt, .pdf, .docx, .jpg, .png" required>
                  </div>
              </div>
              <img src="https://100dayscss.com/codepen/syncing.svg" class="syncing">
              <img src="https://100dayscss.com/codepen/checkmark.svg" class="done">
              <button class="upload-btn" type="submit">Upload</button>
            </form>
        </div>
      </div>
     <script src="/javascripts/script2.js"></script>
  </body>
</html>